<tr>
  <td><%= company.id %></td>
  <td><a href="/company/<%= company.name %>"><%= company.display_name %></a></td>
  <td><a href="<%= company.homepage_url %>" target="_blank"><%= company.homepage_url %></a> </td>
  <td></td>
  <td><a href="/company/<%= company.name%>/edit">Edit</a></td> 
  <td></td>
</tr>
